/*Couleur*/

$blanc: white;
$grey: #9B9B9B;
$black: #181818;


// RESPONSIVE//
$mobile:"only screen and (max-width:676px)";
$tablet:"only screen and (min-width:677px) and (max-width:992px)";
$tablet-dekstop:"only screen and (min-width:993px) and (max-width:1280px)";


